sos.socorro/node_modules/
sos.socorro/dist/
sos.socorro/.gitignore
sos.socorro/.npmignore
sos.socorro/README.md

sos.nube/node_modules/
sos.nube/dist/

sos.alfoli/node_modules/
sos.alfoli/dist/

sos.mensajero/node_modules/
sos.mensajero/dist/

sos.siervo/node_modules/
sos.siervo/dist/
sos.siervo/public/imagenes/incentivo_02.jpg
sos.siervo/public/imagenes/incentivo_03.jpg
sos.siervo/public/imagenes/incentivo_04.jpg
sos.siervo/public/imagenes/incentivo_05.jpg
sos.siervo/public/imagenes/incentivo_06.jpg
sos.siervo/public/imagenes/incentivo_07.jpg
sos.siervo/public/imagenes/incentivo_08.jpg
sos.siervo/public/imagenes/incentivo_09.jpg
